.card{
    padding: 5px  10px;
    flex-wrap: wrap;
    margin: 10px;
}
.cardbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 5px solid springgreen;
}
.cases_title{
   color: red;
   font-weight: 600;
}

