.info_flag{
    width: 90%;
    height: 80px;
    background-size: cover;
    padding: 10px;
}
.popup_box{
    width: 100%;
    height: 200px;
}
.info_box{
    margin-top: 60px;
    padding: 10px;
}
.info_flag img{
    width: 100px;
}
.popup{
    padding: 5px;
}